@import '';

/* _content/TheRoot/Components/ClearingComponent.razor.rz.scp.css */
.clearing[b-fx2p326fjy] {
    width: 12%;
    height: 13%;
    position: absolute;
}

.fox-clearing[b-fx2p326fjy] {
    border: 2px solid #ff0000;
}

.rabbit-clearing[b-fx2p326fjy] {
    border: 2px solid #ffd800;
}

.mouse-clearing[b-fx2p326fjy] {
    border: 2px solid #ff6a00;
}

.activated-clearing[b-fx2p326fjy] {
    border: 2px solid #ffffff;
}

.dominance-marker[b-fx2p326fjy] {
    width: 15%;
    height: 15%;
    left: 85%;
    top: 85%;
}
/* _content/TheRoot/Components/CraftingItemComponent.razor.rz.scp.css */
.crafting-item[b-3tvslgv26k] {
    height: 50%;
}
/* _content/TheRoot/Components/CraftingItemsComponent.razor.rz.scp.css */
.crafting-items-container[b-fy9la45jeb] {
    width: 20.8%;
    height: 6.8%;
    left: 21.1%;
    top: 2%;
}
/* _content/TheRoot/Components/MapComponent.razor.rz.scp.css */
.map[b-gdql5c10i5] {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../Assets/map.jpg);
    height: 100vh;
    width: 109vh;
}
/* _content/TheRoot/Components/SlotComponent.razor.rz.scp.css */
.slot[b-zq3fqpwh8n] {
    background-size: contain;
    background-repeat: no-repeat;
}
/* _content/TheRoot/Shared/MainLayout.razor.rz.scp.css */
.page[b-cey7p2dws7] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-cey7p2dws7] {
    flex: 1;
}

.sidebar[b-cey7p2dws7] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-cey7p2dws7] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-cey7p2dws7]  a, .top-row .btn-link[b-cey7p2dws7] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-cey7p2dws7] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-cey7p2dws7] {
        display: none;
    }

    .top-row.auth[b-cey7p2dws7] {
        justify-content: space-between;
    }

    .top-row a[b-cey7p2dws7], .top-row .btn-link[b-cey7p2dws7] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-cey7p2dws7] {
        flex-direction: row;
    }

    .sidebar[b-cey7p2dws7] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-cey7p2dws7] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-cey7p2dws7] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/TheRoot/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-pplavjsx9h] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-pplavjsx9h] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-pplavjsx9h] {
    font-size: 1.1rem;
}

.oi[b-pplavjsx9h] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-pplavjsx9h] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-pplavjsx9h] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-pplavjsx9h] {
        padding-bottom: 1rem;
    }

    .nav-item[b-pplavjsx9h]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-pplavjsx9h]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-pplavjsx9h]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-pplavjsx9h] {
        display: none;
    }

    .collapse[b-pplavjsx9h] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
