.clearing[b-fx2p326fjy] {
    width: 12%;
    height: 13%;
    position: absolute;
}

.fox-clearing[b-fx2p326fjy] {
    border: 2px solid #ff0000;
}

.rabbit-clearing[b-fx2p326fjy] {
    border: 2px solid #ffd800;
}

.mouse-clearing[b-fx2p326fjy] {
    border: 2px solid #ff6a00;
}

.activated-clearing[b-fx2p326fjy] {
    border: 2px solid #ffffff;
}

.dominance-marker[b-fx2p326fjy] {
    width: 15%;
    height: 15%;
    left: 85%;
    top: 85%;
}