<div class="col-xl-3 p-0">
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#tabletModal">Tablet</button>
    <button type="button" class="btn btn-dark" @onclick="@OnMoveClick">Move</button>
    <button type="button" class="btn btn-dark" @onclick="@OnRecruitClick">Recruit</button>
</div>
