<!--<div class="position-absolute crafting-item" style="top: @CraftingItem.TopLocation%; left: @CraftingItem.LeftLocation%">
    <img class="h-100" src="../Assets/Items/@(ItemImage).png" />
</div>-->
