<div class="position-absolute slot" 
     style="top: @TopLocation%; left: @LeftLocation%; height: @Slot.Height%;"
     @onclick="@OnSlotClick">
    @if (Slot != null)
    {
        <img class="h-100" src="../Assets/@BuildingImage" />
    }
</div>